.header{
    background-color: #1817177e;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
    margin-bottom: 50px;
    
}
a{
    text-decoration: none;
    color: white;
}
.menu{
    display: flex;
}

.menu li{
    margin-left: 20px;
}

.menu li a{
    display: block;
    padding: 10px;
}
h1{
    margin-left: 20px;
    font-size: 40px;
}

body{
    color: rgb(229, 236, 241);
    background: #1c2533;
    text-align: center;
    font-family: 'Instrument Sans', sans-serif;
    font-size: 50pt;
    margin: 0;

}
ul,li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size:  1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
    
p{
    margin:10px
}
.componentes{
    background: white;
    border-radius: 10px;
    padding: 30px;
    
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 363);
    color: black;
    font-size: 20px;
    

}

.area_1{
    box-sizing: border-box;
    height: 80%;
    overflow-y: auto;
   
}
.container{
    
    color: rgb(49, 85, 245);
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    max-height: 80%vw;
}

.semititle{
    font-size: 25px;
    font-style: bold ;
   

    
}

.grafico{
    border-style: solid;
    background: white;
    border: 1px solid #aaa;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    border: none;
    overflow: hidden;
    cursor: crosshair;
    
    
}

input{
    height: 10%;
    width: 70%;
    padding: 4px;
    margin: 2px
    
}
button{
    padding: 10px 16px;
    color: white;
    background-color: #1c2533;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    border: none;

}
.componentes button{
    width: 50%;
}


select{
    width: 70%;
    height: 15%;
    margin-bottom: 5px;
}

.resultados{
    padding: 10px;
    display: none;
    margin: auto;
    font-size: 25px;
    width: 50%;
    border-radius: 15px;
}